<div id="contact">
<style>
    body {
        background-image: url("../static/assets/coffeedrop.jpg");
        background-size: 100% 100%;
    }
</style>
{% extends 'base.html' %}
{% block title %}Coffee and Flavors - Contact{% endblock %}
{% block content %}
    <div class="container">
      <h1 class="display-1">Contact</h1>
      <p class="lead"> {{ paragraph }}</p>
      <hr class="my-4">
      <div class="my-5">
        <form
          id="contactForm"
          name="sentMessage"
          action="{{ url_for('contact') }}"
          method="post"
        >
          <div class="form-floating">
            <input
              class="form-control"
              id="name"
              name="name"
              type="text"
              placeholder="Enter your name..."
              required
            />
            <label for="name">Name</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              id="email"
              name="email"
              type="email"
              placeholder="Enter your email..."
              required
            />
            <label for="email">Email address</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              id="phone"
              name="phone"
              type="tel"
              placeholder="Enter your phone number..."
              required
            />
            <label for="phone">Phone Number</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="message"
              name="message"
              placeholder="Enter your message here..."
              required
              style="height: 12rem"
            ></textarea>
            <label for="message">Message</label>
          </div>
          <br />
          <button
            class="btn btn-warning text-uppercase"
            id="submitButton"
            type="submit"
          >
            Send
          </button>
        </form>
      </div>
    </div>
{% include "footer.html" %}
{% endblock %}
</div>